body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#showpicker {
  padding: 10px;
  position: fixed;
  top: 170px;
  bottom: 0px;
  overflow-y: scroll;
  width: 100%;
}

#showpicker ul {
  padding-inline-start: 0px;
}

#showpicker li {
  list-style-type: none;
  cursor: default;
  padding-bottom: 5px;
}

#showpicker li:hover {
  background-color: lightgoldenrodyellow;
  color: black;
}

#player {
  background-color: darkgrey;
  width: 100%;
  position: fixed;
  height: 150px;
  top: 0;
  align-self: flex-start;
  padding: 10px;
  display: flex;
  gap: 10px;
}

#showname {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

#playerart {
  background-color: rgb(179, 179, 179);
  width: 150px;
  height: 150px;
}

#playerart img {
  width: 100%;
}

#playbackbox {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
}

#speed {
  width: 20%;
  min-width: 60px;
}

#playervstack {
  width: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#playercontrols {
  display: flex;
  height: 75px;
  gap: 10px;
  align-self: left;
}

#playercontrols button {
  width: 75px;
}

#playertimes {
  display: flex;
  justify-content: space-between;
}

#speedcontrols {
  display: flex;
  justify-content: flex-start;
}

#timeslider {
  width: 100%;
}