body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#showpicker {
  padding: 10px;
  position: fixed;
  top: 170px;
  bottom: 0px;
  overflow-y: scroll;
  width: 100%;
}

#showpicker ul {
  padding-inline-start: 0px;
}

#showpicker li {
  list-style-type: none;
  cursor: default;
  padding-bottom: 5px;
}

#showpicker li:hover {
  background-color: lightgoldenrodyellow;
  color: black;
}

#player {
  background-color: darkgrey;
  width: 100%;
  position: fixed;
  height: 150px;
  top: 0;
  align-self: flex-start;
  padding: 10px;
  display: flex;
  gap: 10px;
  user-select: none;
}

#showname {
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

#playerart {
  position: relative;
  background-color: rgb(179, 179, 179);
  width: 150px;
  height: 150px;
  border: 1px solid lightgray;
  border-radius: 20px;
  overflow: hidden;
}

#playerart img {
  width: 100%;
}

#playbackbox {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
}

#speed {
  width: 20%;
  min-width: 60px;
}

#playervstack {
  width: calc(100% - 180px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#playercontrols {
  display: flex;
  height: 75px;
  gap: 10px;
  align-self: left;
}

#playercontrols button {
  width: 75px;
  border-radius: 0;
  border: none;
  background: #00000000;
}

#playercontrols button img {
  scale: 1.3;
  opacity: 0.7;
  -webkit-touch-callout: none;
  user-select: none;
}

#playercontrols button img:active {
  opacity: 1;
}

#playertimes {
  display: flex;
  justify-content: space-between;
}

#speedcontrols {
  display: flex;
  justify-content: flex-start;
}

#timeslider {
  width: 100%;
}

#spinner {
  display: inline-block;
  width: 80px;
  height: 80px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#spinner div {
  position: absolute;
  border: 5px solid white;
  opacity: 0;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation-direction:reverse;
}
/* animation reversed to fix a visual glitch on safari */
#spinner div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
  100% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
}